<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes</title>
    <style>
      /* CSS styles */
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
      }
  
      .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
  
      h1 {
        text-align: center;
      }
  
      form {
        margin-top: 20px;
      }
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
  
      input[type="text"],
      input[type="number"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
      }
  
      input[type="submit"] {
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }
  
  
      .response-area {
        margin-top: 20px;
        background-color: #f0f0f0;
  
        padding: 20px 5px;
      }
  
      #get {
        background-color: #2ecc71;
      }
  
      #get:hover {
        background-color: #27ae60;
      }
  
      #post {
        background-color: #3498db;
      }
  
      #post:hover {
        background-color: #2980b9;
      }
  
      #put {
        background-color: #9b59b6;
      }
  
      #put:hover {
        background-color: #8e44ad;
      }
  
      #patch {
        background-color: #f1c40f;
      }
  
      #patch:hover {
        background-color: #f39c12;
      }
  
      #delete {
        background-color: #e74c3c;
      }
  
      #delete:hover {
        background-color: #c0392b;
      }

      #deleteall {
        background-color: #f80505;
      }

      #deleteall:hover {
        background-color: #d65959;
      }
    </style>
  </head>
  
  <body>
    <div class="container">
      <div class="response-area">
        <% if (locals.content) { %>
          <% for (const [key, value] of Object.entries(content)) { %>
            <hr>
            <p>
              <h5><%= key %></h5>
              <%= value %>
            </p>

          <% }; %>
          <p>
            <%= JSON.stringify(content,null,2) %>
          </p>
        <% } %>
      </div>
      <form id="myForm" method="post">
        <label for="idInput">Id:</label>
        <input type="number" id="idInput" name="id_number">
  
        <label for="jokeText">Joke Text:</label>
        <input type="text" id="jokeText" name="jokeText">
  
        <label for="type">Type:</label>
        <input type="text" id="jokeType" name="jokeType">
  
        <label for="submit">Route:</label>
        <input id="get" type="submit" value="GET" formaction="/jokes?filter[id]">
        <input id="post" type="submit" value="POST" formaction="/post_joke">
        <input id="put" type="submit" value="PUT" formaction="/replace_joke">
        <input id="patch" type="submit" value="PATCH" formaction="/change_joke">
        <input id="delete" type="submit" value="DELETE" formaction="/delete-joke">
        <input id="deleteall" type="submit" value="DELETE ALL" formaction="/delete-all-jokes">
      </form>
<body>
    
</body>
</html>