<body>
    <h1>You Made It Here</h1>
    <h1>Today is <%= day %></h1>

    <h1><% if (day === 0 || day === 6) { %> Hey! It's a weekend, it's time to relax!
        <%} else {%> It's a weekday, time to work hard! <%} %></h1>
</body>